// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/************************
***** INDEX SECTION *****
************************/

// body background here because css does not work with 'asset_url'

 body {
  background-image: asset_url("body-background.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top;
 }

/*************
***section2***
*************/

.iframe {
  width: 100%;
  height: 600px;
  background-color: red;
}

.buttons a {
  display: inline-block;
  margin: 30px 50px 30px 70px;
}
